body {
    font: 18px arial, sans-serif;
    background: #eee;
    /* background-image: linear-gradient(green, orange); */
    background-image: -webkit-gradient(linear, left top, right top, from(green), to(orange));

  }
  
  #sports {
    width: 70%;
  }

  #title {
      color: #030263;
      font-family: "Special Elite" , cursive;
      text-align: center;

  }
  
  .sport-item {
    float: left;
    padding: 10px;
  }
  
  form {
    float: center;
    width: 30%;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  button,
  input[type="submit"] {
    padding: 5px 20px;
    margin: 0 10px 10px 0;
    font-size: 18px;
    color: rgb(236, 32, 32);
    cursor: crosshair;
    background: #000000;
    border: 0;
    border-radius: 25px;
    /* box-shadow: 2px 2px 3px #bbb; */
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #0ae2f1;
  }
  
  button.active {
    background: #7f04af;
  }
  